[2021-07-06 15:04] rafalp commented on #621
This sounded like super big bug, so I've did quick experiment with this and I can't reproduce the result:

<img width="897" alt="Zrzut ekranu 2021-07-6 o 17 03 53" src="https://user-images.githubusercontent.com/750553/124623421-46332500-de7c-11eb-929b-72c7928ec055.png">

[2021-07-06 15:05] ckeyter commented on #621
Hmm ok sorry about that, must be something else in my project that is causing this then. I'll see if I can generate a reproducible example.

[2021-07-06 15:14] ckeyter commented on #621
The problem happens consistently in my project, but clearly it is not reproducible. I will have to investigate my project setup a bit deeper and will create a new issue if necessary. Thanks for the help.

[2021-07-06 15:14] #621 closed

[2021-07-11 06:44] lorddaedra opened #624 "[Django][Auth] About GraphQLView and (not) AnonymousUser"
I followed tutorial on page https://ariadnegraphql.org/docs/django-integration and integrated ariadne with Django.

Typical scenario for most of APIs - get some user related data. I logged in to Django based project as admin (using default Django admin panel /admin/) and I also replaced example resolver code line to
```return "Hello {}!".format(info.context["request"].user)```
I expected to see ad

[2021-07-11 08:41] lorddaedra commented on #624
Just to mention, I tried to make request from browser console, this works as expected:

[code]
So problem related with GraphQLView and related things...

[2021-07-11 13:21] rafalp commented on #624
You are not authenticated with the API because your JS code is not sending any authentication credentials. Assuming you are using default Django auth, it requires session cookies to work, and [fetch needs to be told to include those](https://stackoverflow.com/questions/34558264/fetch-api-with-cookie).

[2021-07-11 13:21] #624 closed

[2021-07-11 13:46] lorddaedra commented on #624
@rafalp Thank you for answer!

But how to fix it, it's not clear for me?..

My custom request (from second message) works without any problems at all, I used browser console to execute it and got my user name as excepted.

But this web GUI, https://127.0.0.1:8000/graphql/ (Playground) not works as expected. I opened browser dev tools, Network page and discovered that It uses http://cdn.jsdelivr.ne

[2021-07-20 21:00] hexular commented on #547
Are there any updates on this, or any help needed fixing this issue?

[2021-07-20 21:26] rafalp commented on #547
This has PR that I need to give another look to see if it can be merged.

[2021-08-02 14:51] rafalp opened #637 "Implement a benchmark suite"
It would be great if Ariadne implemented benchmark suite that would measure query execution times for following scenarios:

- Simple query returning one item
- Simple query returning list of 500 items
- Complex query returning one item
- Complex query returning list of 500 items

We could then easily add extra performance tests to Ariadne by running those tests with different features enabled or d

[2021-08-10 22:42] nilansaha commented on #637
@rafalp What do you mean by a complex query ? Are you just talking about a few levels deep nested queries with a more than one entity maybe ?

[2021-08-13 13:50] ArtyomKaltovich opened #648 "Lack of documentation for subscriptions"
Hello.

Thank you for your library, I am new here, so sorry for the probably dumb question.

I am learning https://ariadnegraphql.org/docs/subscriptions.html example, but I can't find out how to run it. :)

I guess the example lacks the "How to Run" section.

I run the app with

    if __name__ == "__main__":
    uvicorn.run(app, host="0.0.0.0", port=8000)

But I still can't figure out how to subs

[2021-08-16 04:15] ajbouh opened #649 "Replace OpenTracing extension with one for OpenTelemetry?"
https://opentracing.io/ now carries a banner announcing that it's been supplanted by OpenTelemetry

Are you interested in a PR that adds OpenTelemetry based tracing?

[2021-08-19 21:50] ramikhalaf commented on #621
@ckeyter I am hitting this issue as well, but its anytime a field contains a number + using the convert_kwargs_to_snake_case decorator

[2021-08-19 22:00] ramikhalaf commented on #621
@ckeyter this might be your issue :) #465 all variables with numbers will now have an `_` inserted between characters and digits

[2021-08-19 22:47] ckeyter commented on #621
@ramikhalaf Yes I can confirm the convert_kwargs_to_snake_case decorator is what was causing my issue, thanks for the fix :)

[2021-08-24 17:03] rafalp commented on #648
Hi. Do you mean that when you enter `subscribe { counter }` it doesn't yield any query results?

[2021-08-24 17:07] rafalp commented on #649
Yup! That would be helpful, thanks!

[2021-08-24 17:30] #504 closed

[2021-08-24 17:50] rafalp commented on #440
Looks like extension will explode if its enabled on GraphQL schema with fields taking `parent` as argument, and we should change this arg to `parent_` on our side, like we are already doing for `next_`.

[2021-08-24 17:52] rafalp commented on #637
@nilansaha yup, thats what I mean here. Preferably one that goes three or four levels deep.

But hold your horses here, we would like to handle this one on our side.

[2021-08-24 17:53] rafalp commented on #588
Adding it to myself so I can check this out when I'll be working on 0.14 release.

[2021-08-24 17:55] rafalp opened #654 "Publish new release to pypi on github tag"
Currently releasing new Ariadne version to Pypi requires me to manually run `twine` on my machine, but this process could be automated so anyone with tagging permission on github could push new release.

[2021-08-24 18:09] rafalp opened #656 "Remove `ariadne.contrib.django`"
We've [announced that `ariadne.contrib.django` will be deprecated in Ariadne 0.13 release](https://ariadnegraphql.org/blog/2020/08/04/ariadne-0-12-0), but this was delayed until after Ariadne 0.13

It's time to finally do this in 0.14.

# TODO:

- [x] Replace Django integration docs for Ariadne 0.14 with message directing users to [`ariadne_django`](https://github.com/reset-button/ariadne_django).

[2021-08-24 18:13] rafalp commented on #458
I'll +1 @kissgyorgy here. Our main pitch is toolkit for implementing GraphQL servers (with heavy focus on ASGI), not boilerplate for executing queries in other contexts. Dropping this would make things trickier for greater part of our userbase.

Thanks for your understanding.

[2021-08-24 18:13] #458 closed

[2021-08-24 18:22] rafalp commented on #585
I'm closing this as we've passed Django support to 3rd party app and our Django docs will be updated to only direct people to 3rd party lib.

Please see #656 for the context.

[2021-08-24 18:22] #585 closed

[2021-08-24 18:27] rafalp commented on #516
Hi!

If this is change for Django app, [ariadne_django](https://github.com/reset-button/ariadne_django/issues) would also need to get a PR (due to #656).

But option to pass logger instance as `logger` instead of `str` makes sense to me. I'll put this on our roadmap. PR's welcome!

[2021-08-24 18:28] #464 closed

[2021-08-24 18:29] rafalp commented on #464
I'm unable to repro this issue. 😢

If you are still experiencing this, please create GH repo with reproduction, and I'll re-open.

[2021-08-24 18:39] nilansaha commented on #637
Okay sounds good. Probably not the best place to write but can you guys look at including [this](https://github.com/mirumee/ariadne/pull/608) with the 0.14 version itself ? It's a relatively small change. Once that is merged in we might also be very keen to do [this](https://github.com/mirumee/ariadne/issues/603) on our side and try to get that approved. I didn't see any release date for 0.14 so s

[2021-08-31 22:54] rodrigotlima opened #660 "snake_case_fallback_resolvers not calling obj.get(attr_name)"
**Ariadne version:** 0.13.0
**Python version:** 3.8.11

Hello. I am using the [databases](https://www.encode.io/databases/) package with an [asyncpg](https://magicstack.github.io/asyncpg/current/) backend to interact with a PostgreSQL database. The objects returned from my queries are of the type `databases.backends.postgres.Record`.  The desired attributes can only can accessed via the get method

[2021-08-31 23:11] rafalp commented on #660
Gotcha with `Record` classes from databases is that they don't inherit from `dict`, but `Mapping` while Ariadne is testing for the former. We should change our `instance` checks in default resolvers to check for `Mapping` instead, which seems like it should resolve most of the issues you are reporting.

Seems like very small change that can improve the experience here, so I'll put it on our roadma

[2021-09-01 13:36] #522 closed

[2021-09-02 10:22] kamilglod commented on #649
here is my basic implementation based on [OpenTracing](https://github.com/mirumee/ariadne/blob/master/ariadne/contrib/tracing/opentracing.py):
[code]

[2021-09-06 18:59] accredited-unicorn opened #664 "Handle safe method HTTP OPTIONS"
GraphQL clients may need to know whether Ariadne is processing QUERY / MUTATION using either of HTTP GET or HTTP POST. But any HTTP request that is **not** using the POST method currently throws an HTTP 405 Method Not Allowed (unless _introspection_ is turned on).

Can you please update Ariadne to safely respond to HTTP OPTIONS such that it informs any inquiring client that only HTTP POST methods

[2021-09-06 19:19] accredited-unicorn commented on #664
Without any deep knowledge of Ariadne, could it be possible to resolve this issue with only [the following code](https://github.com/mirumee/ariadne/blob/f18afbefd6b6aec7f3b56b775ea906dcca246802/ariadne/asgi.py#L150) change?

[code]

[2021-09-06 20:05] rafalp commented on #664
We don't currently support query execution over `GET`, only via `POST`.

We can fix `OPTIONS` to report that `GET` is supported if introspection is enabled, but this will only mean that you can run HTTP GET request to retrieve the GraphQL Playground. GraphQL clients will still fail for `GET` queries because response will fail either the response type (HTTP vs JSON) or because they attempted to par

[2021-09-07 08:34] accredited-unicorn commented on #664
I might be missing something in the Ariadne codebase. I cannot find handling of the `OPTIONS` method at all. Your point is well taken though- responding to that particular method should only include `OPTIONS` and `POST` in the `Allow` header.

I'm currently working around this problem by mounting Ariadne onto FastAPI, and implementing a response to `OPTIONS` in the latter. Other than this work aro

[2021-09-14 23:48] Gokuroro opened #670 "Suggestion/Request: fallback empty input fields to having only id: String"
From some tests I've been doing, the JS graphql-utils library considers an empty-fielded input type as having a default `{ id: String }` format.
For consistency between platforms, the suggestion is for the empty-field validation for Input types to be (optionally?) ignored in favor of adding a single `id` field with type `String` (nullable).

Reasoning behind request:
I'm a QA Engineer who intends

[2021-09-15 11:11] #670 closed

[2021-09-15 11:11] Gokuroro commented on #670
Looks like I was on the wrong here and the manipulation is actually done by the code itself.

[2021-09-17 01:57] johncarter-phntm commented on #318
I think we just have the wrong shape for the options dict? Nesting the existing config as a {"settings": value} seems to fix the issue?

eg

```{"settings": {"request.credentials": "same-origin"}}```

Works as expected for me. I don't know if this bug has always been there, or if graphql playground changed the options format at some point?

This bug exists on ariadne_django as well.

[2021-09-17 02:02] johncarter-phntm commented on #318
Ah, already fixed by https://github.com/mirumee/ariadne/pull/642 / https://github.com/reset-button/ariadne_django/pull/41

I think this can be closed?

[2021-09-29 19:33] nilansaha commented on #339
Not sure if its related but any exceptions throw from inside the resolver does not surface up. It's logged in Ariadne logger but thats it. Any idea how I can surface the exceptions ?

[2021-09-29 19:35] rafalp commented on #339
@nilansaha its not related but part of GraphQL spec to eat up exceptions raised from resolvers and return them as part of `errors` key in GraphQL result.

[2021-09-29 19:43] nilansaha commented on #339
I see. Thanks for the info. Is there any way around that ? I want to log the exceptions from inside the resolver to Sentry

[2021-09-29 19:44] rafalp commented on #339
@nilansaha this is not related to this issue. Please ask question on discussions instead.

[2021-10-01 19:02] KristobalJunta opened #687 "Add Hacktoberfest label"
I think it would be cool for this project to take part in the global Hacktoberfest event. Hacktoberfest celebrates open source and encourages participation in the open source community.

More details here: https://hacktoberfest.digitalocean.com/

[2021-10-03 21:44] makeroftools commented on #367
The problem with open source.. in my 20 years being self taught and voice for its advocation.. is the lack of responsibility to adequately document.. as much as I respect the leaders and cherish the project and it's community.. So much time is wasted @rafalp

[2021-10-06 08:47] heikkiket opened #692 "Callable fields require one extra argument for info object"
Per [documentation](https://ariadnegraphql.org/docs/resolvers.html#default-resolver), this should work:
[code]

However, when I ran this example and tried making a query like this:
[code]

I got an error:
`likes() takes 1 positional argument but 2 were given`

When I changed likes method to be:
`def likes(self, info)`
it seemed to work.

Is there a fault in the documentation, or did I miss somethi

[2021-10-09 08:14] aliscie opened #693 "Please help can't install ariadne with fasta api because of starlette incompatibility ?"
`pipenv install ariadne fastapi`
[code]

[2021-10-11 21:49] cancan101 commented on #693
Would be great to get a new release of ariadne cut with the updated starlette dependency.

[2021-10-12 15:15] rafalp commented on #693
Yup, I'll look what we can do on friday!

[2021-10-23 20:21] gghildyal opened #708 "Graphql query resolution gets very slow with middlewares."
While debugging performance issues with queries that return a long list, I found that my middleware was causing a lot of slowness. At which point I reduced my middleware to a bare-bones middleware like this

[code]

With this middleware, a nested query below takes ~27 seconds. Without it, it takes 5 seconds!

[code]
can return a long list of service patterns and stops (~10,000 items).

Am I just p

[2021-10-27 10:57] greemo opened #710 "Make Extension system async."
Calls to request_started and request_finished in ExtensionManager should be made with await..

I can implement this if there is no objection..

[2021-11-01 12:43] kissgyorgy commented on #708
We ran into the same issue, we didn't know (it's not intuitive) that graphql-core changes EVERY single resolver to your middleware, so even if you have a simple attribute or dict value lookup, the middleware will run as many times as many properties your object has. In our case, more than 20,000 extra coroutines have been created, which slowed everything down by 4-5x.

For authentication, we went

[2021-11-04 15:41] ehsanonline opened #714 "Catch graphql errors in resolver instead of returning"
How can I get graphql validations errors in resolver `info`? Then I decide to return it or not.
It will be useful to make a good error pattern, for instance using pydantic which is better, then check for graphql errors.
thank you.

[2021-11-04 15:47] #714 closed

[2021-11-05 11:53] rafalp opened #716 "Handle optional args in query cost multiplers"
Query cost validator supports complexity multipliers which multiply given complexity by sum of specified values:

[code]

In situation when one of those arguments is skipped, its passed to complexity calculation as `None`, causing the `unsupported operand type(s) for +: 'int' and 'NoneType'` error within validator.

Relevant lines:

https://github.com/mirumee/ariadne/blob/master/ariadne/validation

[2021-11-08 16:07] #716 closed

[2021-11-08 16:16] rafalp commented on #547
This appears to be working on master:

[code]

[2021-11-08 16:16] #547 closed

[2021-11-08 16:18] rafalp commented on #708
ASGI middleware is the way to go for auth. GraphQL middlewares are more often a trap than useful solution.

[2021-11-08 16:18] rafalp commented on #708
I'll label this as doc. We should bring this up as a warning.

[2021-11-10 10:22] maciossek commented on #693
Is there a workaround to fix this real quick? I am quite new to python and it seems that I cannot overwrite the ariadne dependencies in my requirements.txt file.

[2021-11-17 17:27] cancan101 commented on #693
Following up on this, what else remains to get a new release of ariadne?

[2021-11-19 12:19] rafalp commented on #708
I'll add section about performance impact of middlewares to our docs. Thanks for bringing this up!

[2021-11-19 12:19] #708 closed

[2021-11-19 12:19] rafalp commented on #710
Is this to run blocking IO like api calls or database queries?

[2021-11-19 20:24] greemo commented on #710
It's to close the db session. I use sqlalchemy in Async mode. close() is an Async method, and I only want to close it once the request is complete

19 Nov 2021 23:19:57 Rafał Pitoń ***@***.***>:

[2021-11-19 20:46] #656 closed

[2021-11-19 20:51] rafalp commented on #710
GraphQL extensions shouldn't manage database connection. This should happen outside of Ariadne, eg. in Starlette's startup and shutdown methods.

[2021-11-23 03:37] greemo commented on #710
I'm not talking about the connection, I'm talking about the session. We should have a new session every request so the cache is flushed per request.

[2021-11-23 13:30] rafalp commented on #710
This should be implemented as ASGI middleware and not GraphQL extension. :)

[2021-11-25 06:29] greemo commented on #710
Hmm, I see querying the DB as being definitely related to executing a query. It is a bit strange that I need to bury by db session in the Request object, accessing it via context["request"].state.dbsession, but I could always use a context generator to make it available directly in the context.

I think as Ariadne is supposed to be an async platform, the extension system should also be async, but

[2021-12-02 12:35] rafalp commented on #693
This should be fixed now. Let me know to re-open this if its not.

[2021-12-02 12:36] #318 closed

[2021-12-02 12:55] rafalp commented on #187
This could even be an util called after `make_executable_schema`, eg:

[code]

That way it'll be useful even after people do something to the schema after `make_executable_schema()`

[2021-12-02 14:25] mdkcore0 opened #730 "snake_case_fallback_resolvers not working"
Hi, I'm trying to use `snake_case_fallback_resolvers` to convert cameCase fields to snake_case, but it isn't working. Using ariadne 0.14.0 (got same problem on 0.13.0 as well).

schema.graphql:
[code]
server.py:
[code]
mutations.py
[code]
this is the error I'm experiencing:
[code]

Note: if I use the `@convert_kwargs_to_snake_case` decorator in `resolve_transmit` it works as expected (with no need

[2021-12-02 14:59] rafalp commented on #730
Fallback resolvers only apply for fields that don't have custom resolver defined on them, as per docs:

In your case there's resolver set for `transmit` field, which means that `snake_case_fallback_resolvers` has skipped it. But `snake_case_fallback_resolvers` is only supposed to be used to set resolvers on types fields, not on mutations.

Consider having GraphQL type with field `userName`, which

[2021-12-02 14:59] #730 closed

[2021-12-02 19:24] rafalp commented on #710
I'm not arguing against making extensions system async, I can see a point in that (which is why issue is left open). I'm arguing against using them for managing database sessions.

Long story short, we've never considered Ariadne a web framework. It's ASGI/WSGI apps work without one because it makes it very easy to get started with your own GraphQL API for learning/prototyping and also for running

[2021-12-03 18:18] #648 closed

[2021-12-03 18:25] #637 closed

[2021-12-04 07:14] magicmark opened #736 "Directives do not get"
Apollo federation uses the following introspection query when glueing together subgraphs:
https://github.com/apollographql/rover/blob/83d99ad2c707a5da4e3d48593af7b22a51d6d07d/crates/rover-client/src/operations/subgraph/introspect/introspect_query.graphql#L1-L6

In our subgraph, we define a schema only, non-executable `@lint` directive. If I do an introspection for directives directly, it shows up,

[2021-12-04 07:51] magicmark commented on #736
super gross, i'm sure there's a better answer out there, but in case not...here's what i came up with

[code]

(if i haven't missed a config setting, then the "real" answer would be to PR and get ariadne to return this via the sdl introspection field normally)

[2021-12-07 21:24] tonysyu opened #739 "Django contrib module removed in 0.14.0 but still packaged in the wheel"
I noticed that the 0.14.0 release removed `ariadne.contrib.django`, but that module is still packaged as part of the wheel on PyPI. It doesn't seem to be present in the sdist uploaded PyPI, though (as expected). Not a big deal, but it led to some brief confusion when comparing a local copy of 0.14.0 with the tagged version on github.

[2021-12-08 15:53] #664 closed

[2021-12-09 17:07] j-riebe opened #741 "Documentation regarding GraphQL.js version outdated"
The documentation of compatible GraphQL.js version is outdated.

[Ariadne-Docu](https://github.com/mirumee/ariadne/blob/2393fb8d2b60fb948ba4f251f7d8c01457941663/README.md?plain=1#L23) states:

As ariadne uses [graphql-core](https://github.com/graphql-python/graphql-core/blob/28772a2f3529ac2772e616e24ccb76c085f1e87b/README.md?plain=1#L15) version 3.1.6 it already support GraphQL.js version 15.5.1:

[2021-12-09 17:08] rafalp commented on #741
Thanks for reporting this. PR welcome :)

[2021-12-10 11:56] #741 closed

[2021-12-10 11:56] rafalp commented on #741
Thanks!

[2021-12-10 19:32] aitorres commented on #739
I just came here because of this very same confusion after a recent update of `ariadne` to `0.14.0`, expecting `ariadne.contrib.django` not to be there... but it still was.

[2021-12-10 19:35] rafalp commented on #739
Yeah, looks like it was there in build dir when I've ran twine. I'll release 0.14.1 sometime next week to resolve this.

[2021-12-13 17:44] ArtyomKaltovich opened #745 "Error in subscription doc?"
In https://ariadnegraphql.org/docs/subscriptions.html#using-on_connect-to-access-connection-s-parameters documentation there is the following example

[code]

I guess it should be

[code]

As `websocket` name isn't defined in the function scope?

[2021-12-13 18:33] rafalp commented on #745
It seems like so. PR fixing this would be appreciated!

[2021-12-14 13:30] pylipp opened #746 "Raising error in resolver of non-nullable field returns None for entire root object"
Consider the following MWE about having an error raised in a nested resolver

[code]

Running the query `query { child { id parent { id } } }` returns `{"data": {"child": None}}`. I would expect `{"data": {"child": {"id": 1}}}`.
(When making the `Child.parent` field nullable, one obtains `{"data": {"child": {"id": 1, "parent": None}}}` which is expected).

Is this the desired behavior? I was expec

[2021-12-14 13:59] ArtyomKaltovich commented on #745
Oh, it in the different project, I will close this issue and open it there then.

Thank you.

[2021-12-14 13:59] #745 closed

[2021-12-14 14:05] rafalp commented on #746
Hi. Query executor is out of scope for Ariadne as its implemented by graphql-core package, but this seems to be part of spec:

[2021-12-14 14:05] #746 closed

[2021-12-14 14:31] pylipp commented on #746
I see, thank you! Leaving a [link to the spec](http://spec.graphql.org/October2021/#sec-Handling-Field-Errors) for reference.

[2021-12-22 20:28] jonsmirl opened #752 "Closing a long running subscription - aclose() and GeneratorExit"
In asgi.py I can see the call to aclose();
await subscriptions[operation_id].aclose()

So how do I catch this in my subscription source? This should generate a GeneratorExit exception. I can not figure out a way to catch that exception in my subscription source which would then signal my code to exit.

[2022-01-02 22:46] alycda opened #755 "camelCased arguments unresolved when dictionary keys are also camelCased"
Forgive me if this is something obvious, as I am new to Python.

given a schema:
[code]

and a resolver:
[code]

with query:
[code]

returns the error: `"TypeError: Cannot return null for non-nullable field Account.accountId."`

I don't understand why my dictionary must be snake_cased in order to resolve correctly; changing `"accountId": "a1b2c3"` to `"account_id": "a1b2c3"` solves the problem.

[2022-01-02 22:49] rafalp commented on #755
If you are using fallback resolvers, then those will set default resolver on `accountId` field expecting its value to come in `account_id` format from parent resolver.

[2022-01-02 23:08] alycda commented on #755
Thanks, I figured that's what was happening but wasn't sure based on the docs I read.

[2022-01-07 21:58] #755 closed

[2022-01-12 16:36] rafalp commented on #752
I don't know if this is possible with how GraphQL's query executor is structured, as disconnection goes down and just removes async generators without telling them their job is done.

Do you mind sharing your usecase for explicit cleanup in source on disconnection?

[2022-01-17 01:36] lxop opened #769 "Latest GraphQL breaks validate_query"
Version 3.2.0 of dependency graphql-core changes the type of `graphql.validation.specified_rules.specified_rules` from a `FrozenList` to a tuple. Ariadne's `validate_query` includes the line
[code]
which now breaks with the error
[code]

Without looking into it too much, I assume just changing the line to
[code]
would fix the problem without introducing a backward-incompatibility with graphql < 3.

[2022-01-17 15:18] rafalp commented on #769
Oh, we should update setup.py to lock GraphQL version at <3.2.

In meantime adding `graphql-core<3.2` to requirements manually should fix this?

[2022-01-18 12:45] gdalmau commented on #769
@lxop Since https://github.com/mirumee/ariadne/pull/774 will be included in the next release, can we rename the title of this issue to "Compatibility with graphql-core 3.2"?

/cc @rafalp

[2022-01-19 18:26] j-riebe opened #775 "Federation Support - Description of custom directives breaks make_federated_schema"
I stumpled into a problem with the federation support while using custom directives.
It appears that `make_federated_schema` doesn't support custom directives **if they have a description**.

The **culprit** is following function:
https://github.com/mirumee/ariadne/blob/ceee00cdd332b0ef8165480183516cf201f2e0bc/ariadne/contrib/federation/utils.py#L54-L61

It purges the directives from the schema bu

[2022-01-20 10:51] gdalmau commented on #769
@lxop I meant to convert this issue to make ariadne compatible with graphql-core 3.2, where the issue currently described is one of the things that need to be fixed (if there are any others).

I agree :)

[2022-01-21 13:17] rafalp commented on #654
Already on master

[2022-01-21 13:17] #654 closed

[2022-01-24 16:52] cancan101 opened #779 "Support Starlette 0.18.0"
Was just released: https://github.com/encode/starlette/releases/tag/0.18.0
and currently the dependency is pinned at `<0.18.0`.

[2022-01-25 08:30] sda97ghb opened #780 "graphql-core v3.2 breaks directives"
Since [this commit](https://github.com/graphql-python/graphql-core/commit/b9423b74ca9d22d009a1a4633b38b2bcd06c604b) in graphql-core replaced all lists with tuples, `schema.directives` is a tuple now.

This causes an error in [ariadne.schema_visitor.each](https://github.com/mirumee/ariadne/blob/3921fb1d7cd156eb7b5dc39e9a0695508f187cdd/ariadne/schema_visitor.py#L58).

It seems like a possible soluti

[2022-01-25 11:16] kolypto commented on #780
I've also encountered this bug. The result is: Ariadne fails immediately when a custom directive is defined.

Unit test:

[code]

Result:

[code]

This happens because `schema.directives` is now a tuple, and `each()` has the following condition:

[code]

like @sda97ghb mentioned, replacing the condition with `abc.Sequence` will help.

[2022-01-27 01:18] nilansaha commented on #649
I would suggest extracting the context headers from incoming request and adding that to the trace as well. Very useful for context propagating across services. My team uses it with a federated GQL setup.
Essentially changing
[code]
to something like
[code]

You have to change `request.headers` to wherever the incoming requests header is stored in the `GraphQLResolveInfo`. Sorry I dont remember of

[2022-01-27 01:28] process0 commented on #649
It's `info.context["request"].headers`

[code]

[2022-01-27 01:33] nilansaha commented on #649
Gotta love open-source. Everyone contributing and suddenly we have something super useful.

[2022-01-28 13:42] rafalp commented on #739
I've fixed this in 0.14.1

[2022-01-28 13:42] #739 closed

[2022-02-08 12:42] rafalp commented on #739
@the-papi considered you've had 3 months to adapt to this change (which we've communicated well in advance), I find your tone unjustified. ☹️

[2022-02-10 03:57] oscarmrom commented on #400
I'm getting started with Python and Ariadne and the same thing happens if you name the file `ariadne.py`

Just in case someone else runs into this issue.

[2022-02-11 18:53] rafalp commented on #306
I've had short brainstorming session with @patrys about this, and initial idea is to introduce new base class that's basically type definition + requirements + resolvers, something like this:

[code]

[2022-02-18 19:35] rafalp commented on #306
I've created feature branch where I'm experimenting on this implementation: [new-object-api](https://github.com/mirumee/ariadne/blob/new-object-api/ariadne_future/)

My plan is to keep iterating on to get into somewhat working stage for queries, mutations and scalars. When that gets somewhat useable I would like to start including `ariadne_future` in our releases to let people play with it for sma

[2022-02-21 18:52] #779 closed

[2022-02-21 18:53] rafalp commented on #80
We could use type definitions from graphql-core and and run extra checks on our side at type's definition time.

[2022-02-21 19:08] rafalp commented on #769
Fixed on master

[2022-02-21 19:08] #769 closed

[2022-02-22 12:24] gdalmau commented on #769
For reference purposes, it was fixed in https://github.com/mirumee/ariadne/pull/796

[2022-02-22 15:05] parallelko commented on #588
Please note that appolo protocol [subscriptions-transport-ws](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md) is depricated. (You can find it in readme.md). And there is new graphql-ws protocol aka `graphql-transport-ws`.

[2022-02-25 14:54] j-riebe commented on #775
Thx @rafalp

[2022-02-25 14:54] #775 closed

[2022-02-25 15:04] dacevedo12 commented on #440
Update: this also happens with the resolve method in the Extension system.

Seems like it is not ideal to use parent as an input arg at all. Lots of graphql-related functions rely on the exact names "parent" and "info"

[2022-02-25 16:26] rafalp commented on #440
This is an interesting issue actually. :D

Basically convention for GraphQL resolvers is to name first argument either `obj` or `parent`. With Ariadne we went for the latter which causes naming conflict for you. Renaming first arg to `obj` in default resolvers should resolve it from what I see?

I can see cases for having an arg named "parent", but nothing comes to mind for `obj`.

[2022-03-04 20:20] bronte2k7 commented on #138
The idea of using directives along with decorators looks better than using classes.

[code]

one style for all code)))

[2022-03-04 20:27] rafalp commented on #138
You are welcome to provide a proof-of-concept implementation for this approach :)

[2022-03-09 07:44] levrik commented on #588
Actually Apollo Client seems to prepare the switch to the newer protocol by adding support for it in a patch release on short notice.
https://github.com/apollographql/apollo-client/blob/main/CHANGELOG.md#apollo-client-3510-2022-02-24

[2022-03-15 14:35] lschmierer commented on #736
I am running into this issue as well.

@magicmark I am quite new to Ariadne and ASGI in general, where do I apply the `fix_directives_in_sdl_introspection` function you provided?

This is how I am setting up my serivice:
[code]

[2022-03-15 16:14] rafalp opened #816 "Update Starlette dependency to 0.19"
Starlette 0.19 has been released, we should bump Ariadne's version to it before releasing 0.15

[2022-03-16 11:00] 0dminnimda commented on #292
Any update on this? @ymoondhra how did you solved this?

[2022-03-17 03:08] fdemian commented on #341
Hi, I'm using Apollo Client on my frontend, and just came across this issue. I'd like to help but don't know where to start. What is needed to get graphql subscriptions to work with ariadne?

Cheers!

[2022-03-17 11:47] lschmierer commented on #736
As far as I can tell, while Apollo Gateway is fine with stripping [TypeSystemDirectiveLocation](https://spec.graphql.org/June2018/#TypeSystemDirectiveLocation) directive definitions, [ExecutableDirectiveLocation](https://spec.graphql.org/June2018/#ExecutableDirectiveLocation) directive definitions are expected to be returned in `_service { sdl }`.

A solution would be to change https://github.com/

[2022-03-22 14:07] bartenra opened #823 "Use `execute_sync` in `graphql_sync`"
`graphql_sync` should use `execute_sync` instead of `execute`.

I run my code in a synchronous context, but a resolver was identified as asynchronous due to the fact that GraphQL core does a simple `hasattr(value, "__await__")` check instead of using `inspect.isawaitable`. This caused a false positive.

However, when using `graphql_sync` I expect that this check does not even happen. Consider usin

[2022-03-22 14:10] rafalp commented on #823
Thanks for reporting this, would you like to open an PR with the fix?

[2022-03-23 13:41] rafalp commented on #306
I've moved modules implementation to [ariadne-graphql-modules](https://github.com/mirumee/ariadne-graphql-modules) library. There was already single release of that lib to PYPI, but it will be broken until Ariadne 0.15 is released.

[2022-04-07 11:00] #823 closed

[2022-04-07 11:53] rafalp commented on #578
Almost a year later I am wondering if solution to this isn't as simple as moving `on_disconnect` logic to `finally` clause in `websocket_server`:

[code]

[2022-04-07 11:55] rafalp commented on #578
I'll assign this to myself so I can give this another look after #834/#802 gets done.

[2022-04-11 17:44] rafalp opened #837 "Implement graphql-ws protocol support"
Currently Ariadne implements `subscription-transport-ws` protocol which Apollo has deprecated and replaced with [graphql-ws](https://github.com/enisdenjo/graphql-ws).

We should either update `ariadne.asgi.GraphQL` to graphql-ws or refactor it to make WebSocket support handled via strategy pattern, eg:

[code]

[2022-04-11 17:44] rafalp commented on #588
For now we'll document that Ariadne relies on old implementation, but I've opened new issue for tracking move to new lib:

https://github.com/mirumee/ariadne/issues/837

[2022-04-11 17:59] rafalp commented on #578
The change I've mentioned two comments above is now part of #834. It'll be released with 0.15

[2022-04-12 07:51] #578 closed

[2022-04-12 13:36] rafalp commented on #306
Closing this issue. Dev on GraphQL modules for Ariadne will continue in `graphql-modules` library linked above.

[2022-04-12 13:36] #306 closed

[2022-04-12 14:11] #440 closed

[2022-04-12 14:11] #816 closed

[2022-04-12 14:13] #408 closed

[2022-04-12 14:13] rafalp commented on #408
Closing this as we no longer provide Django app out of the box.

[2022-04-12 14:44] #514 closed

[2022-04-13 12:12] #367 closed

[2022-04-15 14:56] cancan101 commented on #434
I think this has been fixed?

[2022-04-15 14:58] rafalp commented on #434
Correct, you can now customize response JSON by subclassing `asgi.GraphQL` class and overriding `create_json_response` method:

[code]

[2022-04-15 14:58] #434 closed

[2022-04-15 15:01] cancan101 opened #843 "Pass in data to get_context_for_request"
That way you can write something like:
[code]

that way the tracing extension can access `operation_name`, `variables`, and `query` which is very helpful metadata context.

[2022-04-15 15:05] rafalp opened #844 "Add `parse_query` option to `GraphQL` and `graphql/graphql_sync/subscribe`"
Currently Ariadne uses `parse` function from `graphql-core` package, but we could make it possible to replace this function with custom query parser that caches queries.

[2022-04-15 15:08] rafalp commented on #843
Is there a reason you can't do this by pulling JSON from request custom `context_value` callable? By the point it's called by Ariadne JSON payload was already validated.

[2022-04-15 15:11] cancan101 commented on #843
I am not totally sure what you mean? do you mean something like:
[code]
the answer would be to avoid calling `extract_data_from_request` twice on each request.

[2022-04-15 15:13] rafalp commented on #843
I've meant accessing `request.json()` second time. `extract_data_from_request` really only does validation on data.

On sidenote, wouldn't it make it more sense to pass data to `Extension.request_started`?

[2022-04-15 16:02] cancan101 commented on #843
Changing the signature of `request_started` seems more problematic since that is very much a public API. Further `request_started` already gets the `context` which overall seems like a more natural place to attach and send this information. `extract_data_from_request` does look to call `json()` again. Not sure if that underlying parsing is cached.

[2022-04-15 16:05] rafalp commented on #843
TBH it's going to be less problematic than suggested change, which would require us to change signature for `context_value` callable to have parity between default behavior for context creation and custom one.

[2022-04-15 16:21] rafalp commented on #843
IMHO this is another issue in the "we need better extension system" saga, not "we need to put data in default context" ;)

[2022-04-18 16:11] vikramsubramanian commented on #775
It feels like this Regex change would make parsing comments take forever (exponential?)

[2022-04-18 22:14] j-riebe commented on #775
What do you mean by _would_ and _it feels_?

Are you experiencing "forever"? 😄

[2022-04-18 22:44] vikramsubramanian commented on #775
Hey, sorry for the vagueness.
Every `"""..."""` comment block seems to exponentially grow the time it takes to parse a Graphql block. Simply removing all my comments compiled my code instantly whereas with ~10 comments, the script took >30 mins and ~30s with 1 comment block

[2022-04-19 07:51] maspling opened #846 "Apollo Federation 2 Support"
Since Apollo Federation 2 is now released and introduced a few new directives and some optional fields, is there any current efforts in the project to support those?

What is new in Federation 2: https://www.apollographql.com/docs/federation/federation-2/new-in-federation-2

Compatibility Chart: https://github.com/apollographql/apollo-federation-subgraph-compatibility

[2022-04-19 08:58] j-riebe commented on #775
I'd suggest to open a new issue, that targets the performance issue (as this issue is closed).

Some closing thoughts:
Keep in mind that the original problem is rooted in the use of `purge_schema_directives` which is reused in `make_federated_schema`
https://github.com/mirumee/ariadne/blob/f37df147228f87a356690d2bb9b99a5c1cfa7c63/ariadne/contrib/federation/utils.py#L58-L65
https://github.com/mirum

[2022-04-19 14:38] rafalp commented on #846
There's no work going on our side for getting this into Ariadne, but it would be great to support it, either in core or as 3rd party library.

Marking this as "help wanted" for now.

[2022-04-19 17:45] patrickodpt opened #848 "`make_federated_schema` extremely slow when schema includes block comments"
As the title states, the `make_federated_schema` call becomes progressively slower with block comments as they increase in length. This issue was noticed when moving from 0.14.0 to 0.15.0. I believe it's related to the new regular expressions including in 0.15.0 and absent in 0.14.0.

[2022-04-19 17:48] patrickodpt commented on #848
Looks like [this PR](https://github.com/mirumee/ariadne/pull/847#issue-1208666126) may fix it.

[2022-04-22 12:07] eugeneyalansky commented on #837
There is a need for me to implement. @rafalp Would you like to share some thoughts so we can discuss my contribution?

[2022-04-22 12:21] rafalp commented on #837
Hey @eugeneyalansky. I am open to making Ariadne support websocket protocols through strategy pattern as described in first post. So you could implement it yourself and then pass it to Ariadne.

[2022-04-22 12:28] eugeneyalansky commented on #837
I'm thinking of subprotocols strategies.
I'd like also to cover queries and mutations based on WS transport, I've checked the source code on related PRs.

The protocol specifies how to handle queries and mutations, but on the other hand, distinguishing it from subscriptions without parsing the query into a document seems challenging.

[2022-04-22 12:30] rafalp commented on #837
I think we can assume here that if connection was made over the websocket, its going to be subcription. Ariadne's `subscribe` method will do the checking if thats indeed a fact for you.

[2022-04-22 12:34] pigletto commented on #837
@rafalp @eugeneyalansky In fact I've already started working on adding graphql-transport-ws protocol (this is the correct protocol name, while project is graphql-ws) to Ariadne. See my fork: https://github.com/pigletto/ariadne/tree/graphql-transport-ws-protocol

Some details about this implementation: The protocol detection is done automatically. Running queries and mutations is also done (for bot

[2022-04-22 12:38] eugeneyalansky commented on #837
@pigletto What a save, checking out your changes

It's kind of confusing namespacing 😑

graphql-ws = graphql_transport_ws
subscriptions-transport-ws = graphql-ws

[2022-04-22 12:43] rafalp commented on #837
@pigletto this is amazing work!

My only suggestion is to make protocols provided to `asgi.GraphQL` through construction options so they are easy to customize by devs having non-standard use cases. Making API easy for customization if you need something Ariadne doesn't provide is one of design paradigms we are following here.

Also would you be ok with me assigning this issue to you?

[2022-04-22 12:49] pigletto commented on #837
@rafalp thanks for the feedback! Yup, feel free to assign me to this issue

[2022-04-22 12:54] rafalp commented on #848
Fixed in 0.15.1

[2022-04-22 12:54] #848 closed

[2022-04-22 13:05] eugeneyalansky commented on #837
minor question, would it be appropriate to pass parsed document instead of a query to `subscribe` / `graphql` methods.
Its usages a very narrow in the project, but will take some additional work to adjust tests.

[2022-04-22 13:45] pigletto commented on #837
@eugeneyalansky what do you mean by adjusting tests? Currently all the tests on my fork are passing

[2022-04-22 16:33] rafalp commented on #837
@eugeneyalansky can you share more on your usecase? What client are you planning to use that runs regular queries and mutations over websocket?

[2022-04-22 16:38] pigletto commented on #837
@rafalp it's the same as #341 and it is already done in my fork for both protocols

[2022-04-22 16:42] rafalp commented on #837
Oh, right, I've forgot about that one.

[2022-05-03 12:50] vlaci opened #859 "Make it possible to exempt some resolvers from tracing"
The default behavior of only tracing custom resolvers is great 95% of the time, however there is a case for not to trace certain custom resolvers as well.

We have a few simple custom resolvers that can be called up to a couple thousand times per request where the tracing overhead becomes significant. Also, in our case they don't do meaningful work that would warrant tracing them.

Right now I see

[2022-05-04 13:34] rafalp commented on #859
Construction option (like we are already doing with `args_filter`) is the way to go here IMHO. This option should default to `should_trace`.

[2022-05-05 13:14] vlaci commented on #859
I've taken a quick look and it is easy to do this way but the `should_trace` function having a `trace_default_resolver` bool argument makes it a bit smelly to me. One part of the tracing is configured via a callable, the other via a separate flag seems weird. It is easy to make `should_trace` be more restrictive via wrapping it to a separate function but it is hard to make it more permissive witho

[2022-05-05 13:17] rafalp commented on #859
Yeah, we should drop `trace_default_resolver` at same time, but it would be good to have both at same time for deprecation period.

For now we could have both options but raise an error if custom tracing filter is set together with `trace_default_resolver`.

[2022-05-06 17:05] lleadbet commented on #846
Just filed a PR for this above to avoid having to shim in support per subgraph. :)

[2022-05-09 00:11] shyos commented on #752
I am serving data for a limited period of time with my websocket. Is there a way to close websocket connect on ariadne's side, without getting a disconnection from user?

[2022-05-26 14:04] vmarkovtsev opened #869 "value_from_ast does not take into account SchemaDirectiveVisitor.visit_input_field_definition"
Given the following spec:

[code]

the following directive implementation

[code]

and the following query

[code]

The field `expiresAt` does not get validated in `parse_literal()`. This happens because the `value_from_ast()` function that builds the resolver's arguments reads:

[code]

The comment doesn't look correct: we can override the `parse_literal()` on the input field and should call it s

[2022-06-08 16:45] dchambers opened #876 "The `purge_schema_directives` function chokes on the `repeatable` keyword"
An example of standard Apollo directive that uses `repeatable` is `@tag`, which has the following definition (in Federation v1):

[code]

The `@tag` directive can be [applied to more parts of the schema in Federation v2](https://www.apollographql.com/docs/studio/contracts/#federation-1-limitations), but the `repeatable` keyword is already common to the definition of this directive in both Fed v1 a

[2022-06-30 03:15] rmorshea commented on #649
This implementation by @kamilglod doesn't seem quite right, the spans are not correctly grouped together since there's not root span created at `request_started` and closed at `request_finished` as in [OpenTracing](https://github.com/mirumee/ariadne/blob/master/ariadne/contrib/tracing/opentracing.py#L28-L33).

[2022-06-30 03:20] rmorshea commented on #649
Here's my corrected implementation:

[code]

[2022-07-06 09:11] artursmet commented on #649
@rmorshea That's a great snippet! Could you open a pull request and place this extension in `ariadne.contrib`?

[2022-07-26 12:38] johnnyleitrim commented on #256
I see the PR that @khasbilegt , but that did not work for me either (using `0.15.1`). The only way I could get it to work is with the following code:

[code]

The `MiddlewareManager(*middlewares)` in the ariadne code means I needed to return a tuple of my middleware methods, even though there's only one.

[2022-07-29 14:44] srittau commented on #287
Building on @suriyanto's solution, here is what I've come up with so far (Python 3.10+, but easily adaptable to older versions):

[code]

It would be great if we could get such a utility function/method into ariadne proper.

[2022-08-05 05:36] ccsv opened #904 "How are Interger Enum handled?"
How does Ariadne handle Enums with integers? I am working with a django model which stores the enums in the database as Ints. I asked on Stackoverflow but got no responses

https://stackoverflow.com/questions/73225381/ariadne-graphql-displaying-django-choices-in-query

In the [Strawberry](https://strawberry.rocks/docs) graphql library I would do this:

[code]

Is there an equivalent or should I ju

[2022-08-05 05:56] ccsv commented on #600
I think it is good to switch to GraphiQL although I will miss the color scheme on Playground. GraphiQL does autofill some of the queries making it easier to use.

[2022-08-05 12:04] rafalp commented on #904
You need to tell Ariadne how to map enum values to enum. Your example from StackOverflow misses passing of `EnumType ` to `make_executable_schema`:

[code]

Now if you query for `{ status }` you will get `{ "status": "Pending" }` as result.

I don't know how compliant with regular enums Django's `Choice` types are but maybe initializing `EnumType` with your choices will be enough? Eg:

[code]

[2022-08-05 14:16] dacevedo12 commented on #600
Let's keep an eye on https://github.com/graphql/graphiql/issues/2328

Once released, if Ariadne adopts it would be handy to allow passing settings so the user can configure the theme and other params https://github.com/mirumee/ariadne/issues/469

[2022-08-05 17:09] ccsv commented on #904
@rafalp  Thanks it works great for query I think I just missed out the `int` in the Status class. It looks like using in `class Status(enum.IntEnum):` is also equivalent

[2022-08-05 18:30] #904 closed

[2022-08-05 18:52] rafalp opened #906 "Release Ariadne 0.16"
# TODO

- [x] Verify docs are up to date
- [x] Verify changelog is up to date
- [x] Write release announcement

[2022-08-05 18:53] rafalp commented on #906
Note that I'll be out of office for next two weeks. But I'll work on 0.16 release when I'm back.

If you **really** need to use 0.16, I've made 0.16.0b1 pre-release that you can install by pinning your dependencies at `ariadne==0.16.0b1`.

Cheers!

[2022-08-30 17:41] alxsavard opened #919 "Possible documentation missmatch?"
Hi!

Thanks for all the great work first of all. Really appreciated.

I noticed that the documentation has that part about extensions:
https://ariadnegraphql.org/docs/extensions#enabling-extensions
<img width="810" alt="image" src="https://user-images.githubusercontent.com/11441711/187504280-86eb80fd-de92-411e-a48a-cb60712be897.png">

I tried to use that feature and pas a callable to build the lis

[2022-09-14 02:02] kylewlacy opened #927 "`GraphQLTransportWSHandler` only supports one connection"
Once a client has connected to Ariadne through the `GraphQLTransportWSHandler` (the newer GraphQL WebSocket protocol), all future attempts to connect by another client will fail, even if the first client has disconnected.

I believe this issue is caused by this section in the code:

https://github.com/mirumee/ariadne/blob/86a87efd9e3714a39f4da97cce92db6748331f2e/ariadne/asgi/handlers/graphql_trans

[2022-09-14 09:25] rafalp commented on #927
@pigletto can you help with this please?

[2022-09-14 09:51] pigletto commented on #927
@rafalp I'll have a look, I think I know where the problem is

[2022-09-16 16:48] rafalp commented on #927
Thank you @pigletto!

@kylewlacy I've released 0.16.1.b1 with changes that should fix this. Can you please verify when you have time and let me know? Thanks!

[2022-09-16 16:54] #906 closed

[2022-09-16 19:31] rafalp commented on #263
I have an idea for changes to `make_executable_schema` that Ariadne GraphQL Modules implements that would make Graphene's v3 types work. There would be either a mixin or pass-through function that would make Graphene's type Ariadne-compatible.

[2022-09-17 06:09] kylewlacy commented on #927
Sure thing, I just tried out the v0.16.1.b1 release from PyPI and from all my testing, it looks like I am able to connect with multiple different clients now! So from my perspective, that release resolves my issue.

Thanks for coming to such a quick resolution for this issue @rafalp and @pigletto!

[2022-09-17 06:09] #927 closed

[2022-09-19 06:12] Petterhg opened #930 "Purge schema directives misses directives in if no newline"
Hello, I'm on the latest ariadne version (0.16) and I'm fairly certain by now that directive support is a bit broken.
Given a schema
[code]

Your regex replace will only find the first occurance of "not-allowed" directives if there is not a newline in between them.
So in this function in your `contrib/federation/utils`:
[code]
The sub will only identify the first occurance if there is no newline,

[2022-09-20 09:45] liqwid opened #931 "`https://<api_host>/graphql` results in 307 redirect to `http`"
### Context

When using `https://<api_host>/graphql` endpoint instead of `https://<api_host>/graphql/` Ariadne sends a `307` redirect to the trailing-slash one.

### Expected behavior

Initial scheme (`http` or `https`) should be respected in the redirect

### Actual behavior

You get always redirected to `http` which in turn results in browser `Mixed Content` error (e.g. in Chrome 105.0.5195.125+

[2022-09-20 09:47] rafalp commented on #931
Ariadne is not implementing any router that would make such redirect. Are you mounting it under FastAPI or Starlette?

[2022-09-26 13:59] rafalp commented on #927
I'm releasing a fix as 0.16.1, thanks everyone!

[2022-09-30 11:08] rafalp opened #935 "Cost validator throws duplicate error for an invalid input"
### Discussed in https://github.com/mirumee/ariadne/discussions/934

<div type='discussions-op-text'>

<sup>Originally posted by **jayeshv** September 30, 2022</sup>
Consider the following app

[code]
for the following query, it generates two error objects.

[code]
[code]
Isn't the first error created by the cost_validator a redundant one? This duplicate error happens only with the extra validator

[2022-09-30 16:55] rafalp commented on #935
@jayeshv Thanks for reporting this. The reason there are two errors here is because there are two validators tat query fails against:

GraphQL core's query validator that validates query against schema
Query cost validator that expected value of one type but got another
I'm thinking that proper fix here is to only run custom validators like price check only after standard validation has passed and

[2022-09-30 17:52] jayeshv commented on #935
I too think that is the right fix. I made a rough fix here without knowing the entire code flow.
https://github.com/mirumee/ariadne/pull/936
What I did was to avoid reporting errors other than the cost one.
With this fix, it is throwing both the validation and the cost error.

I like this behavior too, but I think what you are suggesting is to remove catching that exception.

[2022-09-30 18:24] rafalp commented on #935
I'll experiment with this next week to see how we can handle this issue better. I'm not feeling comfortable about eating errors that may be caused by potentially serious issues elsewhere in validator.

[2022-10-03 16:36] rafalp commented on #600
My plan for this is to have an option on `GraphQL` app named `explorer`. If this is set to `None`, we'll use whatever is default GraphQL explorer for Ariadne at time. We will default to GraphiQL2 but will support Playground if you want and accept the risks. This will also let us provide special "404" explorer which always return 404 NOT FOUND response to the clients.

[2022-10-04 21:56] davlee1972 commented on #600
Can we get the GraphiQL2 with the explorer plug in?

https://graphql.org/swapi-graphql? << without explorer

https://www.youtube.com/watch?v=8DmtCPX4tdo << with explorer panel

[2022-10-05 09:44] rafalp commented on #600
Looks nice, @davlee1972. Is that version of GraphiQL available on CDN? We don't want to maintain and serve custom API explorer builds for Ariadne.

[2022-10-05 17:00] davlee1972 commented on #600
Yes this is the latest version:
https://www.npmjs.com/package/graphiql

But the Explorer functionality is a plug-in.. The YouTube video above goes through the plug-in installation steps.

At some point GraphiQL will include the Explorer I believe and it is discussed in: https://github.com/graphql/graphiql/issues/2328

[2022-10-05 17:03] rafalp commented on #600
I understand, but Ariadne never served any static files for API explorers, only HTML that pulled assets from CDN.

[2022-10-05 18:07] davlee1972 commented on #600
There is a HTML file for this..
https://www.npmjs.com/package/graphiql

Examples
[Unpkg (CDN)](https://github.com/graphql/graphiql/blob/HEAD/examples/graphiql-cdn) - A single HTML file using CDN assets and a script tag

Found more info on the explorer plug-in here:
https://github.com/graphql/graphiql/tree/4270007671ce52f6c2250739916083611748b657/packages/graphiql-plugin-explorer

CDN bundles
You c

[2022-10-07 04:40] liqwid commented on #931
Mounting under FastAPI, sorry for the delay

[2022-10-07 05:13] NeerajMoudgil opened #942 "ModuleNotFoundError: No module named 'graphql.type'"
Hi Guys,
I am getting following error when using latest `ariadne 0.16.1` with `graphql-core 3.2.3` and Python 3.10. It's a FastAPI app.

`from fastapi import FastAPI`
`from ariadne.asgi import GraphQL`

Second line throws the error

` from graphql.type import GraphQLEnumType, GraphQLNamedType, GraphQLSchema
ModuleNotFoundError: No module named 'graphql.type'`

Thanks

[2022-10-07 07:02] NeerajMoudgil commented on #942
issue is resolved. There was a graphql directory in the project. renaming it fixed the issue. Thanks. keeping it in case anyone else faces the issue.

[2022-10-07 07:02] #942 closed

[2022-10-07 17:48] #837 closed

[2022-10-07 17:48] rafalp commented on #837
Relased in 0.16

[2022-10-07 17:52] rafalp commented on #485
Looks like this would be resolved if we supported custom query parser option, eg:

[code]

[2022-10-07 17:54] rafalp commented on #469
We are moving to GraphiQL 2 but we'll keep playground support as an opt-in, and part of this support is support for setting default options for Playground from python code:

[code]

[2022-10-07 17:57] rafalp commented on #931
This is behaviour of Starlette's router. Your usecase is even explicitly mentioned here:

https://github.com/encode/starlette/issues/869

[2022-10-07 17:57] #931 closed

[2022-10-11 21:42] davlee1972 commented on #600
Here's the apollo client html, but it has a lot of extra apollo links in the html..

https://studio.apollographql.com/public/star-wars-swapi/explorer?variant=current

[code]

[2022-10-11 21:48] rafalp commented on #600
I'm not sure we can do that in Ariadne core, seeing how Apollo keeps client part of their paid product, and there's no mention anywhere about running IDE on your own location or licensing.

https://github.com/apollographql/apollo-studio-community/issues/2

[2022-10-11 22:10] davlee1972 commented on #600
I'm not sure.. the github code says MIT..

https://www.apollographql.com/docs/studio/explorer/sandbox/
You can use Sandbox offline and without an Apollo account. You also [embed Sandbox](https://www.apollographql.com/docs/studio/explorer/sandbox/#embedding-sandbox) on your own website.

https://github.com/apollographql/embeddable-explorer/blob/main/LICENSE

[2022-10-11 23:28] rafalp commented on #600
Perfect, this  is what I was looking for!

[2022-10-13 10:17] #600 closed

[2022-10-13 10:33] rafalp opened #947 "Add explorer for Apollo"
I'm not sure.. the github code says MIT..

https://www.apollographql.com/docs/studio/explorer/sandbox/
You can use Sandbox offline and without an Apollo account. You also [embed Sandbox](https://www.apollographql.com/docs/studio/explorer/sandbox/#embedding-sandbox) on your own website.

https://github.com/apollographql/embeddable-explorer/blob/main/LICENSE

_Originally posted by @davlee1972 in htt

[2022-10-13 10:35] rafalp commented on #600
@davlee1972 support for multiple explorers has been merged to Ariadne. I've did a skim of Apollo's client and decided to open separate issue for that, but I'll prioritize other work for 0.17 release now. If you can contribute it with separate PR, I'll be happy to merge it.

[2022-10-16 10:42] davlee1972 commented on #947
I'll pick this one up..

[2022-10-16 21:50] davlee1972 commented on #947
Pull request
https://github.com/mirumee/ariadne/pull/948

[2022-10-21 14:48] plannigan opened #951 "OpenTracingExtension with refactored ariadne.asgi.GraphQL?"
[v0.16](https://github.com/mirumee/ariadne/blob/master/CHANGELOG.md#0160-2022-09-08) refactored `ariadne.asgi.GraphQL` and adjusted to receive handlers instead of extensions. However, it looks like the [open-tracing documentation](https://github.com/mirumee/ariadne-website/blob/0579e8a4740260606f743e5936f8ba73afe7568a/docs/open-tracing.md?plain=1#L18) was not updated. Open tracing is [still implem

[2022-10-21 15:57] fdemian opened #952 "GraphQL websocket handler not working on Ariadne/Starlette (object is not callable)"
I'm using Uvicorn and Starlette with Ariadne for GraphQL queries, but the GraphQL websocket handler does not seem to be working.

I'm using poetry so this is what my pyproject.toml file looks like:

[code]

This is my code. I've used GraphQLTransportWSHandler in the manner documented [here](https://ariadnegraphql.org/docs/subscriptions#graphql-ws).

[code]

Which I'm running like this:

`poetry ru

[2022-10-21 15:59] fdemian commented on #952
Note: I also asked this question in the community Q&A, but unless there's something I missed about Starlette/Uvicorn integration (which is highly probable!) this seems like a legitimate bug.

[2022-10-24 15:15] rafalp commented on #947
Closed by #948

[2022-10-24 15:15] #947 closed

[2022-10-24 15:17] rafalp commented on #952
AFAIK its no longer required to pass `graphql_handler.websocket_handler` explicitly, with passing GraphQL app itself being enough:

[code]

[2022-10-26 02:41] fdemian commented on #952
Ok, so this is apparently a result of running the server on port 6000 instead of port 8000. I've no idea why this is the case, but websockets functionality do not seem to work with another port (this might be a result of my setup, although I do not see why).

Thank you for your patience, feel free to close if this is not a bug.

[2022-10-27 09:35] adriangarrote opened #956 "Support Starlette 0.21.0"
Starlette 0.21.0 fix important issues on the BaseHttpMiddleware side.

https://github.com/encode/starlette/pull/1715
https://github.com/tiangolo/fastapi/issues/4544

[2022-11-01 20:24] itamar82 commented on #876
do you have an example schema that is problematic?

Just tried:

[code]

and seems to work fine

[2022-11-02 14:48] itamar82 commented on #869
hi @vmarkovtsev , wasn't clear what the issue is but I set up a scenario like yours and looks like `parse_literal` is being called correctly...

here is the test I made:

[code]

Please advise if this is not the expected behavior.

[2022-11-02 15:56] rafalp commented on #956
I am thinking that we should set Starlette dependency in Ariadne at <1.0. I don't remember Starlette's release in recent years that broke Ariadne, seeing how its used in ASGI GraphQL app for parsing ASGI request.

[2022-11-02 16:33] rafalp commented on #341
@fdemian this should be supported in Ariadne 0.16, thanks to @pigletto contributing support for multiple WS protocol handlers.

[2022-11-02 16:33] #341 closed

[2022-11-02 16:34] rafalp commented on #22
This is possible and its already supported in Ariadne GraphQL modules. We could back-port args and input fields mapping to vanilla ariadne.

[2022-11-02 18:20] vmarkovtsev commented on #869
Sorry, this was a long time ago, we are no longer using the project. I'll resurrect the report back if we return to GQL.

[2022-11-02 18:20] #869 closed

[2022-11-03 13:56] itamar82 commented on #603
@rafalp , looks like this might be the last bit to make ariadne support Federation V2 fully... the sample implementation looks ok, should we test it against the performance benchmarks?

[2022-11-03 14:58] #956 closed

[2022-11-03 15:03] #516 closed

[2022-11-07 16:32] dvg-vitol opened #965 "Extend WS protocol testing."
Testing of the recent [graphql-ws protocol support](https://github.com/mirumee/ariadne/issues/837) issue is limited.

A concrete example is whilst we have [test_query_can_be_executed_using_websocket_connection_graphql_transport_ws](https://github.com/mirumee/ariadne/blob/90df8173d2d3787cc899b617f67c66036912b2c5/tests/asgi/test_websockets_graphql_transport_ws.py#L95), we do not have a mutation equi

[2022-11-07 16:49] dvg-vitol commented on #952
This code by rafalp ran for me, whilst the explicit endpoint=graphql_handler.websocket_handler code in the original post generated the original errors. For me this was irrespective of server ports.

[2022-11-14 17:45] rafalp opened #969 "Dependabot no longer sees dev & testing dependencies"
#963 moved project from setup.py/requirements files to pyproject.toml, but for some reason dependabot no longer sees optional dependencies and opens PRs with version updates for them. This feature is supposed to work according to Dependabot developers.

I'm considering this a hard blocker. We either get this fixed or revert the #963 for 0.17

[2022-11-15 14:59] #969 closed

[2022-11-15 17:53] rafalp commented on #935
Apologies for the delay, but I've finally investigated this. I think that we should move the logic from GraphQL core's [`validate`](https://github.com/graphql-python/graphql-core/blob/main/src/graphql/validation/validate.py#L20) util into Ariadne's `validate_query` util, and run validators in two loops:

- `specified_rules` validation (rules that verify Query following GraphQL Spec)
- `custom_rule

[2022-11-17 18:22] rafalp commented on #935
Alternative solutions:

- Make errors raised by cost validator same as ones raised by spec validators, then dedupe validation errors.
- Make `max_errors` customizable on `GraphQL` apps so you can limit number of validation errors to say, one.

[2022-11-17 18:22] rafalp commented on #935
Punting this from 0.17, I don't feel this is big issue that should prevent the release.

[2022-11-17 18:23] rafalp commented on #965
@pigletto does this seem any way related to your area of interest in websockets? Would you be able to help here with extra tests?

[2022-11-17 18:25] rafalp commented on #952
I'll try to build up a chat application example on separate repo that we will be able to use for experimentation, then I'll see what errors occur for it against latest master.

[2022-11-17 18:33] rafalp commented on #843
Turns out this would be useful for root value resolver in our GraphQL proxy implementation, so I'll give it a try.

[2022-11-18 04:02] shaozi commented on #262
Any difference with uvcorn[standard] ?

[2022-11-18 07:37] pigletto commented on #965
@rafalp @dvg-vitol I've added a simple test on my fork, please have a look if something like this is enough: https://github.com/mirumee/ariadne/commit/a9b2f36baa0600bde980f33f65f426ac54b26dd9

I don't think there is any real difference between using queries and mutations over WebSockets. The only issue might be if one needs to upload files - in this case, it seems to me that it is not possible as

[2022-11-18 09:21] dvg-vitol commented on #965
Works well for me. I'd have found this reassuring in development. With exploration of graphql potentially cohabiting schema, client, and server simultaneously, light guidance like this is very helpful! I'd worked through my errors on the test_query_[...]websocket logic, and the further inclusion means the next victim won't need to make that deduction.

[2022-11-18 10:18] jayeshv commented on #935
@rafalp Thank you.
Btw, the cost validator looks somewhat buggy in a few more ways.

You can not pass arguments to a query using variables.
eg:  consider the following script to post a query

[code]
This will throw the following error with the cost validator enabled, but works otherwise.
"message":"Argument \'val\' of required type \'Int!\' was provided the variable \'$val\' which was not provided

[2022-11-18 12:27] rafalp commented on #935
Query cost validator requires extra setup to support variables, its documented here:

https://ariadnegraphql.org/docs/query-validators#exposing-query-variables-to-cost_validator

[2022-11-18 15:37] rafalp commented on #965
We now have test that verifies that mutations are callable over the websocket. Thank you @pigletto

[2022-11-18 15:37] #965 closed

[2022-11-18 15:38] rafalp commented on #469
Fixed on master

[2022-11-18 15:38] #469 closed

[2022-11-18 15:48] and3rson opened #975 "OpenAPI schema for ariadne routes is not generated by starlette"
We're trying to generate an OpenAPI schema using `starlette.schemas.SchemaGenerator`, however it does not include any definitions for ariadne.

Is it possible to add a docstring into ariadne's graphql endpoint, or allow it to be seen by ariadne's schema generator by some other means?

[2022-11-18 16:02] rafalp commented on #975
I'm not familiar with how schema generation works in Starlette. Is it possible to have a method on mounted ASGI application that would return this data for Starlette?

[2022-11-18 16:04] rafalp commented on #485
Punting this for Ariadne 0.17, but I'll open separate issue for configurable parsers.

[2022-11-18 16:12] and3rson commented on #975
@rafalp It seems like starlette attempts to fetch `routes` attribute from the mounted app, however ariadne doesn't have any:

https://github.com/encode/starlette/blob/master/starlette/schemas.py#L54
https://github.com/encode/starlette/blob/master/starlette/routing.py#L384

...so it seems that starlette won't be able to introspect ariadne's routes due to this:

[code]

[2022-11-18 16:15] rafalp opened #976 "Make query parser customizable"
Split from #485

`GraphQL` apps could support `query_parser` option that would take callable to use to parse GraphQL query string. This would open a support for query parsing behavior customization like caching parse result, allowed queries list or server-side pre-defined queries.

[2022-11-18 16:21] rafalp commented on #975
We could potentially create `property(routes)` and use that, but then we will have an ASGI app that creates Starlette routes that wrap its methods and that doesn't sound like good approach to me.

[2022-11-18 16:30] and3rson commented on #975
@rafalp - totally agree. I think creating an issue in ariadne was premature, this sounds like something that needs to be done in starlette.
I've started a discussion for this: https://github.com/encode/starlette/discussions/1958

[2022-11-22 18:31] rafalp opened #978 "Add `execution_context_class` to ASGI and WSGI GraphQL apps"
#968 added support for `execution_context_class` customization in our `graphql` wrappers around `execute`, but there's no way currently to set those on GraphQL apps.

[2022-11-23 13:38] #976 closed

[2022-11-25 07:06] aklim007 commented on #956
@rafalp Please release with this fix, it blocks the fastapi update in my project.

[2022-11-25 17:12] rafalp commented on #844
Fixed in #977

[2022-11-25 17:12] #844 closed

[2022-11-25 17:20] rafalp commented on #919
This is mistake in documentation, but I am thinking if having callable taking request object wouldn't be useful exactly for scenario like one you've mentioned.

[2022-11-29 17:36] rafalp commented on #919
Can you provide reproduction for the issue? The case you are describing occurs only when extensions callable is passed directly to `graphql` function. If extensions are passed as callable, Ariadne will evaluate this callable before passing it `graphql`. We even have checks in tests suite for this scenario.

[2022-11-30 11:42] #256 closed